// scss-docs-start color-variables
$teal: #20c997 ;
$cyan: #0dcaf0 ;
$blue: #0d6efd;
$gray: #adb5bd;
// scss-docs-start theme-color-variables
$primary: $blue;
$secondary: $gray;

//activer shadow
$enable-shadows:              true;
// désactiver rounded
$enable-rounded:              false;

$offcanvas-zindex : 1051;
